@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Clip Allows users to create and share their best collections from the web. To get started, create a collection. After you've created your collection, add a snippet to it!</p>
