
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<body>



<div id="wrapper">
    <div id="featured-wrapper">
       

        <div class="extra2 container">
            <div class="ebox1">
               
                <div class="title">
                    <h2>Clips from the web</h2>
                    <span class="byline">Compliled here</span>
                </div>
                <br />
                @using (Html.BeginForm("Search", "snippetCollections"))
                {


                    <div id="wrapTHIS">
                        @Html.TextBox("query", "", new { @Placeholder = "What are you interested in?", @id = "search" })
                        <button type="submit" id="search_submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>

                }
                <br />
                <a style="width:19em;" href="Snippets" class="button">My Snippets</a>
                <a style="width:19em;" href="snippetCollections" class="button">My Collections</a>
            </div>
          


        </div>

    </div>
</div>

    <div id="header-wrapper" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="Images/pooterDesk2.jpg" data-natural-width="2600" data-natural-height="1200" style="height: 14em">
        <div >
            <h1 style="text-align:center;">Most Saved Collections</h1>
        </div>



      </div>


        <div style=background-color:#fff;>
            @Html.Action("mostSavedPartial", "Home")
        </div>


</body>

