@model IEnumerable<Snippets.Models.snippetCollection>




<br />
@* put offset on this div to center it *@
<div class="container"> 
    <div id="contentP" class="contentP">
        @foreach (var item in Model)
        {
            <br />
            <div class="tileItemP text-center">
                <div class="hvr-grow-shadow">
                    <p class="buttonCollectionHome">@item.Title</p>
                    <br />
                    <a href="@Url.Action("Details","snippetCollections", new { id = item.ID })"><img class="snippetBackground" style="height:150px; width:17em;" src="/Images/snipsnap.png" /></a>
                    <br />
                    <a style="width:17em;" class="buttonCollectionHome" href="@Url.Action("SaveCollection","snippetCollections", new { id = item.ID })">Save</a>
                    



                </div>
            </div>
        }
    </div>
</div>


<script>
$(document).ready(function() {

    var $container = $('#contentP');
    $container.imagesLoaded(function () {
        $container.masonry({
            columnWidth: 150,
            itemSelector: '.tileItemP',
            isFitWidth: true,
            isAnimated: !Modernizr.csstransitions
        })
    })
    
    var $children = $container.children();
    $children.addClass("animated zoomIn");

});
</script>